/* Universal Selector */
* {
  color: brown;
}

/* Element Selector */
p {
  color: red;
}

/* Class Selector */
.parag1 {
  color: rgb(190, 210, 38);
}

/* ID Selector */
#parag2 {
  color: aquamarine;
}

/* Attribute Selector */
/* targetting href attribute */
[href] {
  color: brown;
}

/* <a> with href */
a[href] {
  color: darkgreen;
}

/* value of href */
a[href="www.example1.com"] {
  color: pink;
}

/* Grouping Selector */
/* h2,
h3 {
  font-size: 20px;
  background-color: yellow;
} */

.heading2,
#heading3,
h5 {
  font-size: 20px;
  background-color: yellow;
}

/* Pseudo classes */
h2:hover {
  background-color: skyblue;
  color: brown;
}

/* Pseudo elements */
h3::before {
  content: "Placed before h3: ";
}

h3::after {
  content: " :Placed after h3";
}

h3::first-letter {
  color: blue;
}

/* Earlier rule */
#btn {
  color: red;
}

/* Later rule */
button {
  color: blue;
}
